<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <div name="list-users">

    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

        fetch('/api/users/')
            .then(response => response.json())
            .then(data => {
                var users = data;
                var listUsers = document.querySelector('div[name="list-users"]');
                for (var i = 0; i < users.length; i++) {
                    var user = users[i];
                    var userElement = document.createElement('div');
                    
                    // add link to chat with client
                    var userLink = document.createElement('a');
                    userLink.href = '/chat/' + user.username + '/';
                    userLink.innerText = user.username;
                    userElement.appendChild(userLink);
                    
                    listUsers.appendChild(userElement);
                }
            });

    </script>
</body>
</html>
